@import "normalize.css";
@import "../base/_variables";
@import "../base/_mixins";
@import "../base/_global";

.btn {
  background-color: rgba($navColor, .2);
  text-decoration: none;
  text-align: center;
  padding: .75rem 1.2rem;

}
