@import "normalize.css";
@import "../base/_variables";
@import "../base/_mixins";
@import "../base/_global";

.feature-item {
  position: relative;
  padding-bottom: 2.5rem;

  @mixin atSmall {
    padding-left: 94px;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: .8rem;
    margin-top: .7em;
    text-align: left;
    color: $navColor;

    @mixin atSmall {
      font-size: 1.875rem;
      font-weight: 300;
      margin-bottom: .8rem;
      margin-top: 1em;

      &--b-padding {
        padding-bottom: 3rem;
      }
    }

    &--center {
      text-align: center;
    }
    
    &--white {
      color: white;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: $navColor;

    &--center {
      display: block;
      margin: 0 auto;
    }

    &--white {
      color: white;
    }

    &--t-margin {
      margin-top: 1rem;
    }
  }
}
