@import "normalize.css";
@import "../base/_variables";
@import "../base/_mixins";
@import "../base/_global";

.feature-item {
  position: relative;
  padding-bottom: 2.5rem;

  @mixin atSmall {
    padding-left: 94px;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: .8rem;
    margin-top: .7em;
    text-align: center;
    color: $navColor;

    @mixin atSmall {
      font-size: 1.875rem;
      font-weight: 300;
      margin-bottom: .8rem;
      margin-top: 1em;
      text-align: left;

      &--b-padding {
        padding-bottom: 3rem;
      }
    }
  }
}
