@import "normalize.css";
@import "../base/_variables";
@import "../base/_mixins";
@import "../base/_global";

.page-section {
  padding: 1.2rem 0;

  &--brown {
    background-color: rgba($navColor, .8);
    color: $inputColor;
  }
  @mixin atMedium {
    padding: 4.5rem 0;

    &--less-padding {
      padding: 2rem 0;
    }
  }
}
