@import "normalize.css";
@import "../base/_variables";
@import "../base/_mixins";
@import "../base/_global";

.row {
  @mixin clearfix;

  &--center-text-align {
    text-align: center;
  }

  &--gutters {
    margin-right: -65px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-small {
    margin-right: -5px;
  }

  &--gutters-small > div {
    padding-right: 5px;
  }

  &--t-padding {
    padding-top: 5px;
  }

  &--b-padding {
    padding-bottom: 5px;
  }

  &--equal-height-at-large {
    @mixin atLarge {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }

  @mixin atMedium {
    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-3 {
      float: left;
      width: 25%;
    }

    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }
  }

  @mixin atLarge {
    &__large-4 {
      float: left;
      width: 33.33%;
    }

    &__large-2 {
      float: left;
      width: 16.6667%;
    }
  }
}
